---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
      <div class="entry">
        {{ post.excerpt | slice:0, 90 }} ...
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Seguir leyendo</a>
    </article>
  {% endfor %}
</div>

<br>
<h1>TAREAS PRÁCTICAS</h1>
{%- for practica in site.tareas %}
  {%- if practica.visible %}
{{ practica.name | slice: 0, 2  }}.  <a href="{{ practica.url }}">Práctica {{ practica.name }}</a>
  {%- endif %}
{%- endfor %}
<br>
<br>
<h1>CONTENT</h1>
{% for task in site.tareas %}
  <h2>{{ task.name }} - {{ task.date }}</h2>
  <p>{{ task.content | markdownify }}</p>
{% endfor %}
